@model ReportSpace.CustomerDashboard.Web.Models.LoginModel

@{
    Layout = null;
    ViewBag.ReturnUrl = "/Site/Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>ReportSpace | Client Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css/css")
</head>
<body class="loginpage">
    <div class="loginpanel">
        <div class="loginpanelinner">
            <div class="logo animate0 bounceIn">
                <img src="~/Content/images/logo.png" alt="" />
            </div>

            @using (Html.BeginForm("Account", "POST", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                    @Html.AntiForgeryToken()
                    <div class="inputwrapper animate1 bounceIn">
                        @Html.TextBoxFor(m => m.UserName, new { id = "placeholder", Value= "Enter your user name." })
                        
                    </div>
                    <div class="inputwrapper animate2 bounceIn">
                         @Html.PasswordFor(m => m.Password, new { id = "placeholder", Value= "" })
                    </div>
                    <div class="inputwrapper animate3 bounceIn">
                        <button name="submit" onclick="">Sign In</button>
                    </div>
                    <div class="inputwrapper animate4 bounceIn">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </label>
                    </div>
                <p>
                     <div id="login_form_errors" class="alert alert-error">
                         @Html.ValidationSummary(true)
                         @Html.ValidationMessageFor(m => m.UserName)
                         @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </p>
            }
        </div>
        <!--loginpanelinner-->
    </div>
    <!--loginpanel-->
    
    @Scripts.Render(
            "~/Content/js/jquery",
            "~/Content/js/bootstrap",
                    "~/Content/js/base")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#login').submit(function () {
                var u = $('#username').val();
                var p = $('#password').val();
                if (u == '' && p == '') {
                    $('.login-alert').fadeIn();
                    return false;
                }
            });
        });

        $('#login_form_errors').hide();

        function show_val() {
            $('#login_form_errors').show();
        }
    </script>

    <footer class="loginfooter">
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - ReportSpace</p>
            </div>
        </div>
    </footer>
</body>
</html>
